<div class="edu-block block two-col">
    <div class="block-header">
        <div class="title">{{school.institution}}
        </div>
        <div class="date">
            {{school.startDate| date("MMM 'YY")}}&nbsp;&mdash;&nbsp;{{school.endDate | date("MMM 'YY")}}
        </div>
    </div>
    <div class="descr">
        <p class="descr-summ">{{school.studyType}}{% if school.area %} in {{school.area}}{% endif %}. {% if school.gpa %}({{school.gpa}}){% endif %}. {% if school.courses | length %}Modules include: <span class="italics">{{ school.courses | join(", ") }}</span></p>{% endif %}</p>
    </div>
</div>
