<!doctype html>
<html>
	<head>
		<title>Title</title>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400italic,400,700,600,300|Raleway:200,400,600,700' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body>
		<div class="page-container">
			<div class="resume">
				<div class="header">
					<div class="name">George <br /> Nishimura</div>
					<div class="basic-mod">
						<ul class="basic-info no-style-list">
							<li class="info-item">software developer</li>
							<li class="info-item"><a href="#">me@georgenishimura.com</a></li>
							<li class="info-item"><a href="#">georgenishimura.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-1 right">

					<div class="work-block-mod">
					<div class="section-title">Work</div>
					{% for job in work %}
						{% include 'work-block.html' %}
					{% endfor %}
					</div>
					<div class="edu-block-mod">
					<div class="section-title">Education</div>
					{% for school in education %}
						{% include 'edu-block.html' %}
					{% endfor %}
					</div>
				</div>
				<div class="col-2 left">
					<div class="skills-block-mod">
						<div class="section-title">Skills</div>
						{% include 'skill-token.html' %}
					</div>
				</div>
				<div class="footer">References available upon request</div>
			</div>
		</div>
		<script src='js/jquery.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
