<!doctype html>
<html>

<head>
    <title>Resume | George Nishimura</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:200' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/print.css"> -->
</head>

<body>
    <div class="page-container right">
        {% include 'resume.html' %}
        {% include 'download.html' %}
        {% include 'footer.html' %}
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
