<div class="social-mod">
	<ul class="social-info no-style-list">
			<li class="info-item"><a href="https://github.com/thetmkay"><i class="fa fa-github fa-lg icon"></i>github.com/thetmkay</a></li>
			<li class="info-item"><a href="https://uk.linkedin.com/in/georgenishimura"><i class="fa fa-linkedin fa-lg icon"></i>uk.linkedin.com/in/georgenishimura</a></li>
			<li class="info-item"><a href="https://twitter.com/thetmkay"><i class="fa fa-twitter fa-lg icon"></i>twitter.com/thetmkay</a></li>
	</ul>
</div>
