$title-width: 75%;
$title-height: 18px;

.descr {
	font-size: 11px;

	.descr-list {
		padding-left: 1.5em;
		margin: 0.5em 0;
	}

	.two-col & {
		@include dualmq($lg-width-screen,$lg-width-print) {
			width: $title-width;
		}
	}
}

.block-header {
	width: 100%;
	text-align: center;

	.title {
		width: 100%;
		.two-col & {
			@include dualmq($lg-width-screen,$lg-width-print) {
				width: $title-width;
				float: left;
			}
		}
	}

	.date {
		width: 100%;
		@include dualmq($lg-width-screen,$lg-width-print) {
			width: 100% - $title-width;
			float: right;
			clear: right;
		}
	}

	@include dualmq($lg-width-screen,$lg-width-print) {
		text-align: left;
	}

	.full-width & {
		@include dualmq($lg-width-screen,$lg-width-print) {
			// padding-bottom: 1em;
		}
	}

	.two-col  & {
		@include dualmq($lg-width-screen,$lg-width-print) {
			padding-bottom: 1.5em;
		}
	}
}


.date {
	font-size: 12px;
	padding-top: 2px;
	font-weight: $bold;
}

.award-block .title {
	font-size: 14px;
}

.title {
	font-size: 16px;
}

.bold {
	font-weight: $bold;
}

.italics {
	font-style: italic;
}
