@import "footer";

.footer {
//	border-top: solid 2px darken($link-blue, 10);
  color: black;
  max-width: $page-width;
  background-color: white;
}

.ftr-link, , .ftr-link:active, .ftr-link:visited {
	color: lighten($link-blue,5);

	&:hover {
		color: $link-blue;
	}
}
