.resume {
	width: 100%;
	background-color: $white;
	// padding: 1em;
}

 .footer{
	width: 100%;
	text-align: center;
}

$col-1-width: 70%;

.col-1 {
	width: 100%;
	// background-color: red;
	@include dualmq($lg-width-screen,$lg-width-print) {
		width: $col-1-width;
	}
}

.col-2 {
	padding: 0 0.5em;
	width: 100%;
	// background-color: green;
	@include dualmq($lg-width-screen,$lg-width-print) {
		width: 100% - $col-1-width;

		.left & {
			float: left;
			padding-left: 10px;
		}
	}
}

.col-1 {
	@include dualmq($lg-width-screen,$lg-width-print) {
		.right & {
			float: right;
			padding-right: 10px;
		}
		.left & {
			float: left;
			padding-left: 10px;
		}
	}
}

//header

.header {
	// margin: 0 1em;
	// padding: 1em 0;
	text-align: center;
	// background-color: green;
	// color: white;
	width: 100%;
	@include dualmq($lg-width-screen,$lg-width-print) {
		width: 70%;

		.right & {
			margin-left: 30%;
			text-align: right;
			padding-right: 10px;
		}

		.left & {
			margin-right: 30%;
			text-align: left;
			padding-left: 20px;
		}
	}
}

.bio {
	font-size: 12px;
	width: 100%;
	padding: 1em;
}

.footer {
	clear: both;
	font-size: 12px;
	padding: 15px;
}

//lists

.no-style-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		text-indent: -5px;
		margin-left: 5px;
	}
}

.social-link {

	@extend .link;

	.icon {
		// color: #999;
		margin-right: 10px;
		background-color: $link-blue;
		display: inline-block;
		color: white;
		padding: 7px 5px 7px 6px;
		border-radius: 50%;
	}
}

.social-list {

	list-style: none;

	li {
		margin: 5px 0;
	}
}

@mixin icon-color($class, $color) {
	#{$class} {
		background-color: $color;
	}

	&:hover #{$class} {
		background-color: darken($color,10);
	}
}

@media screen {
	.social-link {
		@include icon-color(".twitter", #55acee);

		@include icon-color(".home", green);

		@include icon-color(".github", #666);

		@include icon-color(".linkedin", #0976b4);
	}
}

.name {
		font-family: Raleway, Helvetica, sans-serif;
		font-weight: $light;
		text-transform: uppercase;
		width: 100%;
		font-size: 36px;


		@include dualmq($lg-width-screen,$lg-width-print) {
			font-size: 48px;
			// width: 50%;
			display: inline-block;
		}

}

.basic-row {
	font-weight: 200;
}

.section-title {
	font-weight: $light;
	font-size: 16px;
	margin: 10px 0;
	border-bottom: solid 1px #000;
	text-align: right;
	padding-right: 10px;
	text-transform: lowercase;

	@include dualmq($lg-width-screen,$lg-width-print) {
		width: 100%;
	}

}

.section-list {
	font-size: 12px;
	padding-left: 0.5em;
}

.block{
	padding: 0 10px;
}
.block-mod {
	padding-left: 10px;
}

.skill-name {
	font-weight: $light;
	font-size: 14px;
	text-transform: lowercase;
	// width: 100%;
}
