html,body {
	width: 100%;
	margin: 0;
}

@media screen {

	html, body {
		background-color: $bg-color;
	}

	.page-container {
		max-width: $page-width;
		margin: 0 auto;
	}

	.resume-mod {
		padding: 1em;
	}
}

.resume-mod {
	font-family: $body-font;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}


@mixin link($color) {
	color: $color;
	cursor: pointer;
	&:hover {
		color: darken($color, 10);
	}
}

.link {
	@include link($link-blue);
}

