$page-width: 800px;
$lg-width-screen: 735px;
$lg-width-print: 500px;

$bg-color: #85A29E;
$white: #fff;

$body-font: 'Open Sans';
$name-font: 'Raleway';

$bold: 700;
$light: 200;
$semi-bold: 600;
$regular: 400;

$green: #36802D;
$light-green: lighten($green, 5);
$dark-green: darken($green, 5);
$txt-black: #111;
$grey: #85A29E;
$pastel-blue:#4E9689;
$link-blue: #0976b4;
$blue: #029DAF;

$orange: #F59330;
$pink: #E33258;
